<app-table-navbar [label]="'Tickets'" [isLoading]="dataSource.loading()" (addButtonClicked)="onAddClick()">
</app-table-navbar>
<div class="mat-elevation-z2 table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef sticky>Id</th>
      <td mat-cell *matCellDef="let row">{{cast(row).id | idShrink}}</td>
    </ng-container>

    <!-- Reporter Column -->
    <ng-container matColumnDef="reporter">
      <th mat-header-cell *matHeaderCellDef sticky>Reported by</th>
      <td mat-cell *matCellDef="let row">
        <app-short-user-data [user]="cast(row).reporter"></app-short-user-data>
      </td>
    </ng-container>

    <!-- Assignee Column -->
    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef sticky>Assigned to</th>
      <td mat-cell *matCellDef="let row">
        <app-short-user-data [user]="cast(row).assignee"></app-short-user-data>
      </td>
    </ng-container>

    <!-- updated_at Column -->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef sticky>updated_at</th>
      <td mat-cell *matCellDef="let row">{{cast(row).updated_at | appElapsedTime}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th *matHeaderCellDef mat-header-cell>more</th>
      <td *matCellDef="let row" mat-cell>
        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showDetails(row)">
            <mat-icon>{{currentUserId === cast(row).reporter.id ? 'edit':'preview'}} </mat-icon>
            <span> {{currentUserId === cast(row).reporter.id ? 'edit':'preview'}}</span>
          </button>
          <button *ngIf="currentUserId === cast(row).reporter.id" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [@addTableRowAnimation]="" *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{'assigned-ticket' : cast(row).assignee?.id === currentUserId}"></tr>

    <tr #noDataRow *matNoDataRow class="mat-row no-data-row">
      <td colspan="20" style="text-align: center">{{ 'no-records-found' }}</td>
    </tr>
  </table>

  <mat-paginator #paginator [ngClass]="{ hiddenElement: dataSource.aggregateCount() === 0 }"
    [length]="dataSource.aggregateCount()" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>
</div>