.full-width-table {
  width: 100%;

  .mat-column-id {
    width: 30px  ; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  } 
  
  .mat-column-actions {
    width: 80px 
  }
} 
