

.login-wrapper{
    //margin: 100px auto;
   
    width: 500px;

    .inputs-wrapper {
        margin: 16px 0;
        padding-bottom: 16px;
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: 1fr; 
    }
}