<form [formGroup]="form" novalidate (ngSubmit)="submit()" class="dialog-container">
    <mat-card class="mat-elevation-z4 login-wrapper">
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- Inputs -->
        <mat-card-content>
            <div class="inputs-wrapper"> 
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput placeholder="username" formControlName="username">
                    <mat-error *ngIf="form.controls['username'].hasError('required')"> Required field </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="password" formControlName="password">
                    <mat-error *ngIf="form.controls['password'].hasError('required')"> Required field </mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <!-- Actions -->
        <mat-card-actions>
            <div class="form-actions">
                <button type="button" mat-raised-button routerLink="/register">
                    register
                </button>
                <button mat-raised-button color="primary" type="submit" [disabled]="submitted() || form.invalid">
                    Login
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>