.login-wrapper {
    width: 500px;

    .inputs-wrapper {
        margin: 16px 0;
        padding-bottom: 0;
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: 1fr;
    }
}
