<form [formGroup]="form" novalidate (ngSubmit)="confirm()" class="dialog-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <!-- Inputs -->
        <mat-card-content>
            <div class="inputs-wrapper">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>name</mat-label>
                    <input matInput placeholder="name" formControlName="name">
                    <mat-error *ngIf="form.controls['name'].errors">{{ form.controls['name'].errors | fieldErrors:
                        'Enter more than 2 Letters'}} </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>surname</mat-label>
                    <input matInput placeholder="surname" formControlName="surname">
                    <mat-error *ngIf="form.controls['surname'].errors">{{ form.controls['surname'].errors | fieldErrors:
                        'Enter more than 2 Letters'}} </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>family</mat-label>
                    <input matInput placeholder="family" formControlName="family">
                    <mat-error *ngIf="form.controls['family'].errors">{{ form.controls['family'].errors | fieldErrors:
                        'Enter more than 2 Letters'}} </mat-error>
                </mat-form-field> 

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput placeholder="username" formControlName="username">
                    <mat-error *ngIf="form.controls['username'].errors">{{ form.controls['username'].errors |
                        fieldErrors }} </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="password" formControlName="password">
                    <mat-error *ngIf="form.controls['password'].errors">{{ form.controls['password'].errors |
                        fieldErrors }} </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error *ngIf="form.controls['email'].errors">{{ form.controls['email'].errors | fieldErrors }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>role</mat-label>
                    @if(isInPreviewMode){
                    <input matInput placeholder="role" formControlName="role" [readonly]="isInPreviewMode">
                    } @else {
                    <mat-select formControlName="role" placeholder="role">
                        <mat-option *ngFor="let role of allowedRoles | keyvalue" [value]="role.value">{{ role.value }}
                        </mat-option>
                    </mat-select>
                    }
                    <mat-error *ngIf="form.controls['role'].errors">{{ form.controls['role'].errors | fieldErrors }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>gender</mat-label>
                    @if(isInPreviewMode){
                    <input matInput placeholder="gender" formControlName="gender" [readonly]="isInPreviewMode">
                    } @else {
                    <!-- {{form.controls['role'].touched}} -->
                    <mat-select formControlName="gender" placeholder="gender">
                        <mat-option *ngFor="let gender of genders | keyvalue" [value]="gender.value">{{ gender.value }}
                        </mat-option>
                    </mat-select>
                    }
                    <mat-error *ngIf="form.controls['gender'].errors">{{ form.controls['gender'].errors | fieldErrors }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>age</mat-label>
                    <input matInput placeholder="age" formControlName="age">
                    <mat-error *ngIf="form.controls['age'].errors">{{ form.controls['age'].errors | fieldErrors }}
                    </mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>

        <mat-divider></mat-divider>
        <!-- Actions -->
        <mat-card-actions>
            <div class="form-actions" [ngClass]="{'register':isRegistration}">
                <button type="button" mat-raised-button (click)="cancel()" [disabled]="submitted()">
                    {{isRegistration? 'Login' : 'Cancel'}}
                </button>
                <button mat-raised-button color="primary" type="submit" [disabled]="submitted() || form.invalid">
                    Submit
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>