@if(authorizationService.currentUser().id){
<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{title}}</span>

  <div class="spacer"></div>

    <div *ngIf="authorizationService.currentUser().id"  >
      <div style="display: flex; align-items: center">
        <div style="display: block; align-items: center">
          <div style="font-size: 16px; text-align: end">
            {{authorizationService.currentUser().username}}
          </div>
          <div style="font-size: 14px; height: 20px; text-align: end">
            ({{authorizationService.currentUser().name}} {{authorizationService.currentUser().family}})
          </div>
        </div>
        <button class="user-image" mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>{{'logout'}}</button>
    </mat-menu>
 
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item routerLink="/projects" [ngClass]="{ selected: currentUrl === 'projects'}" >
        <div class="menu-row"> <mat-icon color="primary">
            <span class="material-symbols-outlined"> work </span>
            3
          </mat-icon>
          <div> {{ 'projects' }} </div>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/tickets" [ngClass]="{ selected: currentUrl === 'tickets'}">
        <div class="menu-row"> <mat-icon color="primary">
            <span class="material-symbols-outlined"> task </span>
          </mat-icon>
          <div> {{ 'tickets' }} </div>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/users" [ngClass]="{ selected: currentUrl === 'users'}">
        <div class="menu-row">
          <mat-icon color="primary">
            <span class="material-symbols-outlined"> groups </span>
          </mat-icon> {{ 'users' }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
}@else{

LOGIN OR REGISTER
<!-- <mat-nav-list>
  <mat-list-item routerLink="/authorize">
    <div class="menu-row">
      <mat-icon color="primary">
        <span class="material-symbols-outlined"> dashboard </span>
      </mat-icon> {{ 'dashboard' }}
    </div>
  </mat-list-item>
  <mat-list-item routerLink="/authorize/login">
    <div class="menu-row">
      <mat-icon color="primary">
        <span class="material-symbols-outlined"> login </span>
      </mat-icon> {{ 'login' }}
    </div>
  </mat-list-item>
  <mat-list-item routerLink="/authorize/register">
    <div class="menu-row"> <mat-icon color="primary">
        <span class="material-symbols-outlined"> registration </span>
      </mat-icon>
      <div> {{ 'register' }} </div>
    </div>
  </mat-list-item>
</mat-nav-list> -->
}