<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span>{{title}}</span>

  <div class="spacer"></div>

  <div>
    <div>
      <div style="display: flex; align-items: center">
        <div style="display: block; align-items: center">
          <div style="font-size: 16px; height: 20px; text-align: end">
            name surname
          </div>
          <div style="font-size: 12px; text-align: end"> 
          </div>
        </div>
        <button class="user-image" mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>{{'logout'}}</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item routerLink="app/users">
        <div class="menu-row">
          <mat-icon color="primary">
            <span class="material-symbols-outlined"> groups </span>
          </mat-icon> {{ 'users' }}
        </div>
      </mat-list-item>
      <mat-list-item routerLink="app/tickets">
        <div class="menu-row"> <mat-icon color="primary">
            <span class="material-symbols-outlined"> task </span>
          </mat-icon>
          <div> {{ 'tickets' }} </div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
   
      <router-outlet></router-outlet>
   
  </mat-sidenav-content>
</mat-sidenav-container>