$toolbarHeight: 80px;

mat-toolbar {
    height: $toolbarHeight;
}

.mat-toolbar.mat-primary {
    position: sticky;
    z-index: 1;
    height: $toolbarHeight;
}

mat-sidenav {
    width: 200px;
}

.spacer {
    width: 100%;
}

.sidenav-container {
    height: calc(100% - $toolbarHeight);

    mat-sidenav {
        top: $toolbarHeight !important;

        .selected{ 
            background: rgba(lightgray, .5) ;
        }
    }

    mat-list-item { 

        .menu-row {
            padding: 0 8px;
            display: flex;
            gap: 10px;
        }
    } 

    mat-sidenav-content {
        padding: 8px;
    }
}
