.table-navbar-wrapper {
    margin-bottom: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    .table-navbar-label {
        margin-left: 8px;
        width: 100%;
        padding: 4px;
        font-size: larger;
        font-weight: 500;
    }
}
