<form [formGroup]="form" novalidate (ngSubmit)="confirm()" class="dialog-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>

        <!-- Inputs -->
        <mat-card-content>
            <div class="inputs-wrapper">
                
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>status</mat-label>
                    @if(readOnly){
                    <input matInput placeholder="Status" formControlName="status" [readonly]="readOnly">
                    } @else {
                    <mat-select formControlName="status" placeholder="status">
                        <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.value">{{ status.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['status'].hasError('required')"> Required field </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>label</mat-label>
                    <input matInput placeholder="Label" formControlName="label" [readonly]="readOnly">
                    <mat-error *ngIf="form.controls['label'].hasError('required')"> Required field </mat-error>
                </mat-form-field>

                <mat-form-field class="fit-two-grid-columns" appearance="outline">
                    <textarea matInput placeholder="description" formControlName="description" rows="6"
                        [readonly]="readOnly"></textarea>
                    <mat-error *ngIf="form.controls['description'].hasError('required')"> Required field </mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>

        <!-- Actions -->
        <mat-card-actions>
            <div class="form-actions">
                <button type="button" mat-raised-button (click)="cancel()" [disabled]="submitted()">
                    {{isInPreviewMode ? 'Close' : 'Cancel'}}
                </button>
                {{submitted() }} {{ form.invalid}}
                <button *ngIf="!isInPreviewMode" mat-raised-button color="primary" type="submit"
                    [disabled]="submitted() || form.invalid">
                    Submit
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>