<app-table-navbar [label]="'projects'" [isLoading]="dataSource.loading()"
  (addButtonClicked)="onAddClick()"></app-table-navbar>

<div class="mat-elevation-z2 table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id" sticky >
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell class="aa" *matCellDef="let row">{{row.id.split('-')[0]}}</td>
    </ng-container>
    <!-- status Owner -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>owner</th>
      <td mat-cell *matCellDef="let row">{{row.owner.name}} {{row.owner.family}}</td>
    </ng-container>
    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>
    <!-- label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>label</th>
      <td mat-cell *matCellDef="let row">{{row.label}}</td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th *matHeaderCellDef mat-header-cell>more</th>
      <td *matCellDef="let row" mat-cell>
        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showDetails(row)">
            <mat-icon>edit</mat-icon>
            <!-- TODO Preview or edit -->
            <span>edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [@addTableRowAnimation]="" *matRowDef="let row; columns: displayedColumns"></tr>

    <tr #noDataRow *matNoDataRow class="mat-row no-data-row">
      <td colspan="20" style="text-align: center">{{ 'no-records-found' }}</td>
    </tr>

  </table>

  <mat-paginator #paginator [ngClass]="{ hiddenElement: dataSource.elementsOnPage() === 0 }"
    [length]="dataSource.elementsOnPage()" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page">
  </mat-paginator>
</div>