.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr;

    app-short-user-data {
        padding: 4px;
    }

    .left {
        display: flex;
        justify-content: flex-start;
    }

    textarea {
        resize: vertical;
    }

    .right {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: column;
    }

    .formatted-date { 
        font-size: 14px;
    }
}
