<div class="wrapper">
    <div>
        <app-short-user-data *ngIf="log.user.id === ticketReporterId" [user]="log.user" [class]="'logs'">
        </app-short-user-data>
    </div>
    <textarea #area autoHeight>{{log.description}}</textarea>
    <div class="right">
        <div *ngIf="log.user.id !== ticketReporterId" style="display: flex; flex-direction: column;">
            <mat-icon (click)="action('update', log, area.value)">update</mat-icon>
            <mat-icon (click)="action('delete',log, area.value)">delete</mat-icon>
            <!-- <mat-icon>add</mat-icon> -->
        </div>

        <app-short-user-data *ngIf="log.user.id !== ticketReporterId" [user]="log.user" [class]="'logs'">
        </app-short-user-data>
    </div>
</div>