@use "@angular/material" as mat;
@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 400);
$accent: mat.m2-define-palette(mat.$m2-orange-palette, 400);
// The warn palette is optional (defaults to red).
$warn: mat.m2-define-palette(mat.$m2-red-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn
        )
    )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// #region Common styles

$max-mobile-width: 600px;
.table {
    margin: 0;
    .no-data-row {
        text-align: center;
        height: 50px;
        font-size: 16px;
        color: mat.m2-get-color-from-palette($warn, 800);
    }
    .hiddenElement {
        display: none;
    }
}

.dialog-container,
.mat-mdc-card {
    .mat-mdc-card-header {
        display: flex;
        justify-content: center;
        padding-bottom: 8px !important;
    }

    .inputs-wrapper {
        margin: 16px 0;
        padding-bottom: 16px;
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: repeat(3, 1fr);

        .full-width {
            width: 100%;
        }

        .fit-two-grid-columns {
            grid-column: 1 / -1;
        }

        @media (max-width: $max-mobile-width) {
            grid-template-columns: 1fr;
        }
    }

    .form-actions {
        width: 100%;
        margin: 0;
        padding: 6px 4px;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
            min-width: 120px;
        }

        @media (max-width: $max-mobile-width) {
            flex-direction: column;

            button {
                min-width: 100%;
            }
        }
    }
}

.mat-form-field-disabled {
    background-color: white;
    // background-color: rgb(184, 204, 241);
    // background-color: rgb(184, 204, 241);
    // color: red !important;
    .mat-select-value {
        color: blue;
    }
    .mdc-text-field--disabled {
        color: red;
    }

    .mat-mdc-form-field-type-mat-select,
    .mat-mdc-form-field-input-control {
        color: black !important;
    }
    .mat-mdc-text-field-wrapper {
        // background-color: green !important;
        color: red !important;
    }

    // .mdc-text-field--disabled {
    //     color: black !important;
    // }
}
// ::ng-deep.mat-form-field-disabled {
// 	background-color: rgb(184, 204, 241);
// }
// ::ng-deep.mat-select-value {
//     color: rgba(0, 0, 0, 0.99) !important;
// }
// ::ng-deep.mat-input-element {
//     color: rgba(0, 0, 0, 0.99) !important;
// }

.custom-dialog-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

//#region SnackBars
.snackbar-warn-panel .mdc-snackbar__surface {
    background-color: mat.m2-get-color-from-palette($warn, 600) !important;
    .mat-mdc-snack-bar-label,
    .mdc-button__label {
        color: mat.m2-get-color-from-palette($warn, default-contrast) !important;
    }
}

.snackbar-success-panel .mdc-snackbar__surface {
    background-color: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 600) !important;
    .mat-mdc-snack-bar-label,
    .mdc-button__label {
        color: mat.m2-get-color-from-palette(mat.$m2-teal-palette, default-contrast) !important;
    }
}
// #endregion SnackBars

// #endregion Common styles
